<p id="notice"><%= notice %></p>
<h2>Dados dos Cliente</h2>
<p>
  <strong>Nome:</strong>
  <%= @cliente.nome %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @cliente.endereco %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= Cidade.find_by(id: @cliente.cidade_id).nome %>
</p>

<p>
  <strong>Telefone Celular:</strong>
  <%= @cliente.fone_celular %>
</p>

<p>
  <strong>Telefone Fixo:</strong>
  <%= @cliente.fone_fixo %>
</p>

<%= link_to 'Editar', edit_cliente_path(@cliente) %> |
<%= link_to 'Voltar', clientes_path %> |
<%= link_to 'Registrar Venda', new_cliente_venda_path(@cliente) %> |
<%= link_to 'Ver Histórico de Vendas', cliente_vendas_path(@cliente) %>
